@mixin flex {
    display: flex;
}

@mixin flexAligned {
    @include flex;
    align-items: center;
}

@mixin flexAlignedByColumn {
    @include flexAligned;
    flex-direction: column;
}

@mixin flexCentered {
    @include flex;
    justify-content: center;
}

@mixin flexCenteredByColumn {
    @include flexCentered;
    flex-direction: column;
}

@mixin flexAlignedAndCentered {
    @include flexAligned;
    @include flexCentered;
}

@mixin flexAlignedAndCenteredByColumn {
    @include flexAlignedAndCentered;
    flex-direction: column;
}