@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../../assets/fonts/CormorantGaramond-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../../assets/fonts/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Venite Adoremus';
    src: url('../../assets/fonts/VeniteAdoremusStraight-Yzo6v.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #f5f5f5;
    --background-weightier: #c3c3c3;
    --background-weightier-100: #d6d5d5;
    --background-node: radial-gradient(ellipse at top right, #2d892c 33%, #243d20);
    --background-node-border: #266b25;
    --background-node-highlight: #4a9b48;
    --background-node-tooltip: #233d23;
    --color: #0a0a0a;
    --black: #000;
    --white: #fff;
    --purple: #a855f7;
    --blue: #0b57d0;
    --grey: #adaeb1;
    --border-grey: rgba(161, 161, 161, .5);
    --bg-init: #222222;
    --bg-modal: #b6b4b4;
    --bg-white: #f5f5f5;
    --bg-project-frontend: radial-gradient(ellipse at top right, #627fa1 33%, #4175b4);
    --bg-project-backend: radial-gradient(ellipse at top right, #613494 33%, #6c36aa);
    --bg-project-database: radial-gradient(ellipse at top right, #387526 33%, #4ca334);
    --bg-project-deployment: radial-gradient(ellipse at top right, #676e75 33%, #8394a5);
    --bg-project-api: radial-gradient(ellipse at top right, #a17d3e 33%, #b68942);
    --bg-project-blockchain: radial-gradient(ellipse at top right, #625168 33%, #a665b9);
    --bg-project-graphic: linear-gradient(white, white), radial-gradient(#7a4b4b 33%, #b63f3f);
    --bg-opacity: 1;
    --btn-primary: radial-gradient(ellipse at top right, #ab2ec4 33%, #6d2377);
    --brightnessAdjust: 0.85;
    --invert: invert(0%);
    --invert-grey: invert(50%);
    --border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #272a31;
        --background-weightier: #3d414e;
        --background-weightier-100: #4e556b;
        --color: #e0e0e0;
        --brightnessAdjust: 1.3;
        --bg-modal: #212121;
        --bg-project-frontend: radial-gradient(ellipse at top right, #627fa1 33%, #25466d);
        --bg-project-backend: radial-gradient(ellipse at top right, #613494 33%, #3e1c65);
        --bg-project-database: radial-gradient(ellipse at top right, #387526 33%, #1e4713);
        --bg-project-deployment: radial-gradient(ellipse at top right, #676e75 33%, #43494f);
        --bg-project-api: radial-gradient(ellipse at top right, #a17d3e 33%, #5e451c);
        --bg-project-blockchain: radial-gradient(ellipse at top right, #625168 33%, #603b6b);
        --bg-project-graphic: radial-gradient(ellipse at top right, #7a4b4b 33%, #681c1c);
        --bg-opacity: 0.3;
        --invert: invert(100%);
    }
}

html {
    height: 100%;
}

body {
    background: var(--bg-init);
    font-family: Arial, Helvetica, sans-serif;

    height: 100%;
    overflow-x: hidden;
}

.logo-icon {
    display: inline-block;
    width: 16px;
    height: 16px;

    &.invert {
        filter: invert(100%);
    }
}

.blue-link {
    display: contents;
    color: var(--blue);
}