$bg_color: #06071e;
$bg_color_2: #212364;
$bg_color_3: #363881;
$bg_color_4: #424599;
$border_color_1: #7174cc;
$border_color_2: #292c74;
$breakpoint-mobile: 768px;
$breakpoint-lg: 992px;

.portfolio {
    background-color: $bg_color;
    color: var(--white);

    .rocket-ship {
        width: 200px;
        opacity: 0;
    }

    &-header {
        display: flex;
        justify-content: center;

        padding: 30px 0;
        height: 200px;

        .title {
            @media (max-width: $breakpoint-mobile) {
                font-size: 30px;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: end;

        position: relative;
        height: 1856px;
        padding: 0 20vw;
        font-weight: 400;
        font-family: sans-serif;

        @media (max-width: $breakpoint-mobile) {
            padding: 0 5vw;
        }

        &.first-content {
            height: 2400px;

            .portfolio-content-text:first-of-type {
                @media (max-width: $breakpoint-mobile) {
                    align-self: start;

                }
            }

            .portfolio-content-text {
                @media (max-width: $breakpoint-mobile) {

                    &-1,
                    &-2 {
                        justify-content: start;

                        padding: 0;
                        // height: 114px;
                    }
                }
            }
        }

        &.second-content {
            z-index: 2;

            .portfolio-content-text {
                @media (max-width: $breakpoint-mobile) {
                    align-self: center;
                }
            }
        }

        &-text {
            padding: 50px 0;
            width: 50vw;
            text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.9);
            font-size: 36px;

            @media (max-width: $breakpoint-mobile) {
                width: 90vw;
                font-size: 28px;
            }

            >* {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 15px;

                padding: 25px 0;
                height: 164px;
                opacity: 0;
                text-align: right;
            }

            .logo-icon {
                width: 32px;
                height: 32px;
            }

            .text-reversed {
                flex-direction: row-reverse;
                text-align: left;
            }

            &-6,
            &-7,
            &-8,
            &-9 {
                justify-content: end;
                text-align: right;
                width: 50vw;

                @media (max-width: $breakpoint-mobile) {
                    justify-content: center;
                    text-align: center;
                    width: 90vw;
                }
            }
        }

        &-me {
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 10px;

            width: 100%;
            max-width: 500px;

            &-quote {
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: 'Playfair Display', serif;
            }
        }

        &-moon {
            position: absolute;
            bottom: -320px;
            left: 245px;

            @media (max-width: $breakpoint-mobile) {
                bottom: -130px;
                left: 65px;
            }
        }

        &-linear {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            top: 1330px;
            left: 0;
            align-self: center;
            width: 100%;
            height: 656px;
            background: linear-gradient($bg_color, $bg_color_2);

            >* {
                text-align: center;
            }
        }

        &.links {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 700px;
            padding: 0 50px;
            background-color: $bg_color_2;

            @media (max-width: $breakpoint-mobile) {
                justify-content: start;
                height: 1000px;
                padding: 0 20px;
            }

            .portfolio-content-text {
                width: 100%;
            }
        }

        &-sections {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 30px;
            z-index: 2;

            &-section {
                width: 200px;
                height: 200px;
                background: linear-gradient($bg_color_2, $bg_color_3);
                border: 1px solid $border_color_1;
                border-radius: 10px;
                cursor: pointer;
                user-select: none;

                @media (max-width: $breakpoint-mobile) {
                    width: 150px;
                    height: 150px;
                }

                &:hover {
                    background: linear-gradient($bg_color_2, $bg_color_4);
                }

                &-border {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100%;
                    height: 100%;
                    border: 3px solid $border_color_2;
                    border-radius: 10px;

                    &-container {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;

                        width: 100%;
                        height: 100%;
                        padding: 10px;

                        &-icon {
                            .logo-icon {
                                width: 48px;
                                height: 48px;
                            }
                        }

                        &-content {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            gap: 5px;

                            &-title {
                                width: 100%;
                            }

                            &-description {
                                width: 100%;
                                color: var(--grey);
                                font-size: .8em;
                                font-family: 'Playfair Display', serif;
                            }
                        }
                    }
                }
            }
        }
    }
}