.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    &-projects {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
}