@import "@/app/styles/_mixins";

.welcome {
    @include flexAlignedAndCenteredByColumn;
    gap: 50px;

    padding: 30px 0;

    &-header {
        @include flexAlignedAndCenteredByColumn;
        gap: 10px;
    }

    &-content {
        @include flexAlignedAndCenteredByColumn;
        gap: 30px;

        &-description {
            @include flexAlignedAndCenteredByColumn;

            &-paragraph {
                @include flexAlignedAndCentered;

                &-link {
                    text-decoration: underline;
                    cursor: pointer;

                    &.blue-link {
                        color: var(--blue);
                    }
                }
            }
        }

        &-sections {
            @include flexAlignedAndCentered;
            gap: 20px;

            &-section {
                @include flexAlignedAndCentered;

                font-size: 1.5em;
                padding: 5px 10px;
                border-radius: 10px;
                background-color: var(--background-weightier);

                cursor: pointer;

                &:hover {
                    filter: brightness(1.1);
                }
            }
        }
    }
}