$breakpoint-mobile: 768px;

.notepad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;

    padding: 20px 10px;
    color: black;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    font-family: 'Courier New', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;

    &-images {
        display: flex;
        justify-content: start;
        flex-direction: column;

        a {
            text-align: start;

            &:before {
                content: "• ";
            }
        }
    }

    &-copyright {
        // font-size: 1.2em;

        @media (max-width: $breakpoint-mobile) {
            margin-bottom: 150px;
        }

    }
}