.language {
    position: fixed;
    z-index: 999;

    &-options {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;

        position: fixed;
        bottom: 30px;
        right: 60px;
        height: 40px;
        padding-left: 10px;
        padding-right: 20px;
        border-radius: 10px 0 0 10px;
        background-color: var(--background);
        opacity: 0;
        clip-path: inset(0 0 0 100%);

        &-option {
            &.active {
                border: 2px solid var(--blue);
                border-radius: 5px;
            }
        }

        img {
            width: 25px;
        }
    }

    &-flag {
        position: fixed;
        bottom: 30px;
        right: 30px;

        img {
            width: 40px;
            filter: drop-shadow(7px 7px 3px rgba(0, 0, 0, .5));
        }
    }
}