.title {
    font-size: 32px;
    font-family: 'Venite Adoremus', serif;

    &-upper {
        text-transform: uppercase;
    }

    &-underline {
        text-decoration: underline;
    }

    &-small {
        font-size: 32px;
        font-weight: 500;
    }

    &-medium {
        font-size: 72px;
        font-weight: 500;
    }

    &-big {
        font-size: 104px;
        font-weight: 700;
        font-family: 'Playfair Display', serif;
    }

    &-neon {
        color: #a855f7;
        text-shadow: 0 0 5px #a855f7, 0 0 10px #a855f7;
    }

    &-shadow {
        color: var(--color);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 10px var(--background-node);
        position: relative;
        display: inline-block;

        &purple {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), 0 0 10px var(--purple);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(90deg, #a855f7, #6366f1);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        // &:hover::after {
        //     transform: scaleX(1);
        // }
    }

    &-gradient {
        background: linear-gradient(90deg, #a855f7, #6366f1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
    }
}