@import "@/app/styles/_mixins";

.skills {
    @include flexAlignedByColumn;
    gap: 50px;

    height: 100%;
    padding: 30px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--white);

    >* {
        z-index: 10;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/backgrounds/bg_treenode.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: var(--bg-opacity);
        pointer-events: none;
    }

    &-header {
        @include flexAlignedAndCenteredByColumn;
        gap: 10px;
    }

    &-content {
        @include flexAlignedAndCenteredByColumn;
        gap: 30px;

        &-search {
            @include flexAlignedAndCentered;
            gap: 10px;

            &-icon {
                width: 38px;
                border-radius: 10px;
                padding: 3px;
                cursor: pointer;

                &:hover {
                    background-color: var(--background-weightier);
                }

                img {
                    filter: var(--invert);
                }
            }

            &-input {
                padding: 5px 10px;
                color: var(--black);
            }
        }

        &-groups {
            @include flexAlignedAndCentered;
            flex-wrap: wrap;
            gap: 30px;

            min-width: 60vw;
            max-width: 80vw;

            &-group {
                @include flexCenteredByColumn;
                gap: 10px;

                padding: 5px 10px;
                border-radius: 10px;
                background-color: var(--background-node);

                &-title {
                    @include flexAlignedAndCentered;

                    font-size: 1.2em;
                    text-decoration: underline;
                }

                &-container {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 10px 25px;

                    min-height: 48px;
                    max-height: 180px;

                    &-skill {
                        @include flex;
                        justify-content: space-between;
                        gap: 15px;

                        &-rating {
                            @include flexAligned;

                            img {
                                width: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}