@use "@/app/styles/_mixins" as *;

.skills {
    @include flexAlignedByColumn;
    gap: 50px;

    height: 100%;
    padding: 30px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    color: var(--white);

    >* {
        z-index: 10;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/backgrounds/bg_treenode.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: var(--bg-opacity);
        pointer-events: none;
    }

    &-header {
        @include flexAlignedAndCenteredByColumn;
        gap: 10px;

        clip-path: inset(100% 0 0 0);
        text-align: center;

        .title {
            font-size: 60px;
        }
    }

    &-content {
        @include flexAlignedAndCenteredByColumn;
        gap: 50px;

        &-search {
            @include flexAlignedAndCentered;
            gap: 10px;

            position: relative;

            &-icon {
                position: absolute;
                right: 4px;
                width: 26px;
                border-radius: 10px;
                padding: 3px;

                cursor: pointer;

                &:hover {
                    background-color: var(--background-weightier-100);
                }
            }

            &-input {
                width: 340px;
                border-radius: 6px;
                padding: 5px 40px 5px 10px;
                color: var(--black);
            }
        }

        &-groups {
            @include flexAlignedAndCentered;
            flex-wrap: wrap;
            gap: 30px;

            min-width: 60vw;
            max-width: 80vw;

            &-group {
                @include flexCenteredByColumn;
                gap: 10px;

                padding: 5px 10px;
                border-radius: 10px;
                background-image: var(--background-node);
                border: 2px solid var(--background-node-border);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                opacity: 0;
                scale: .2;
                z-index: 0;

                &:hover {
                    z-index: 1;
                }

                &-title {
                    @include flexAlignedAndCentered;

                    font-size: .8em;
                }

                &-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 10px 25px;

                    min-height: 24px;
                    max-height: 194px;

                    max-width: 280px;

                    &-skill {
                        @include flex;
                        justify-content: space-between;
                        gap: 15px;

                        &-name {
                            @include flexAligned;

                            img {
                                margin-right: 5px;
                            }
                        }

                        &-help {
                            @include flexAlignedAndCentered;
                        }
                    }
                }
            }
        }

        &-details {
            @include flexAlignedAndCenteredByColumn;

            position: fixed;
            height: 200px;
            bottom: 50px;
            opacity: 0;
            z-index: -1;

            &-content {
                @include flexAlignedAndCenteredByColumn;

                width: 300px;
                height: 100px;
                padding: 10px 20px;
                background-color: var(--background-node-tooltip);
                border-radius: 15px 15px 0 0;
                clip-path: inset(100% 0 0 0);
                opacity: .85;

                &-text {
                    @include flexAlignedAndCenteredByColumn;

                    opacity: 0;
                }
            }

            &-line {
                width: 0;
                height: 2px;
                background-color: var(--white);
            }
        }
    }
}