.parallax {
    height: 110vh;
    width: 100%;
    position: relative;
    z-index: 2;


    &-outer {
        overflow: hidden;
        width: 100%;
    }

    img {
        position: absolute;
        max-width: initial;
    }

    &-text {

        &-first,
        &-second {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 70vh;
        }

        &-second {
            scale: .2;
            opacity: 0;
        }
    }

    .earth {
        width: 1500px;
        bottom: -100%;
        z-index: 7;
    }

    .jupiter {
        width: 800px;
        bottom: -60%;
        right: 10%;
        z-index: 5;
    }

    .mars {
        width: 300px;
        bottom: 45%;
        left: -10%;
        z-index: 6;
    }

    .pluto {
        width: 100px;
        bottom: 75%;
        right: 0%;
        z-index: 3;
    }

    .uranus {
        width: 300px;
        bottom: -20%;
        right: -25%;
        z-index: 2;
    }
}