$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-lg-minus-1: $breakpoint-lg - 1px;
$breakpoint-xl: 1200px;

.parallax {
    height: 110vh;
    width: 100%;
    position: relative;
    z-index: 2;

    .planet-container {
        >* {
            filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, .5));
        }

        .earth {
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
        }

        .jupiter,
        .uranus {
            filter: blur(2px) brightness(50%);
        }

        .mars,
        .pluto {
            filter: blur(1px) brightness(80%);
        }
    }

    &-outer {
        overflow: hidden;
        width: 100%;
    }

    img {
        position: absolute;
        max-width: initial;
    }

    &-text {

        &-first,
        &-second {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            height: 70vh;
            text-align: center;

            .title {
                padding: 0 40px;
                font-size: 80px;

                @media (max-width: $breakpoint-md) {
                    font-size: 50px;
                }

                @media (min-width: $breakpoint-xl) {
                    font-size: 100px;
                }
            }
        }
    }
}