.command-prompt {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 0px;
    z-index: 100;

    min-height: 70vh;
    width: 70vw;
    border: 1px solid black;

    &-window {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        padding: 5px 10px;

        &-header {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        &-actions {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
    }

    &-content {
        align-self: start;

        padding: 0 4px;
        white-space: pre-wrap;
        font-family: 'Courier New', Courier, monospace;

        .section-logo {
            margin-right: 10px;
        }
    }
}